*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	vertical-align: baseline;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $font-default;
	background-color: $light;
	margin: 1rem;
}

a {
	color: $accent;
	text-decoration: none;
	transition: background-color 0.4s ease;
	background-color: transparentize($accent, 1);
	padding: .2em;

	&:hover {
		background-color: transparentize($accent, .8);
		border-radius: 2px;
	}

	&.invisible {
		color: $dark !important;
		background-color: transparentize($accent, 1) !important;
	}

	&:visited {
		color: darken($accent, 10%);
	}
}

header {
	@extend %clearfix;
	width: 100%;
}

h1 {
	float: left;
	margin: 1rem;
}

nav {
	float: right;
	margin: 1rem;
	li {
		float: left;
		list-style-type: none;
		border: 1px $accent solid;
		border-right: none;
		padding: .2rem 0;
		&:first-child {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		&:last-child {
			border-right: 1px solid $accent;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}

	@media all and (max-width: 550px) {
		width: 100%;
		margin: 1rem auto;
		text-align: center;
	}
}

