%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin hyphens {
	-webkit-hyphens: auto;
	hyphens: auto;
}

%wrapper {
	margin-right: auto;
	margin-left: auto;
	@media all and (max-width: 900px)  { max-width: 90%;   }
	@media all and (min-width: 900px)  { max-width: 40rem; }
	@media all and (min-width: 1300px) { max-width: 60rem; }
}
