// colours
$accent: #740304;
$dark: #010101;
$light: #FEFEFE;

// fonts
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/pQ091WwCqK_i0BhMWeZ4BPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}

$font-default: -apple-system, lato, sans-serif;

// margins
$margin-tiny: .2em;
